extends ./_include/_layout.pug
block meta
	- var title = meta.title + ' | ' + site.site_name;
	- var description = meta.description;
	- var ogUrl = '';
	- var ogTitle = title;
	- var ogDescription = description;
	- var ogimg = 'images/ogp.png';
block body
	p= site.domain
	p= meta.description
	ul
		- loop.forEach(function(list){
				li
					span
						= list.name
					br
					span
						= list.filename
		- });

	+breadcrumb(
		'className',
		{pageName: 'pageName', dir: 'dir'}
	)

	a(href="https://shimakyohsuke.com/")
		img(src="images/icon.jpg", alt="")
