@import '../../node_modules/normalize.css/normalize.css'

/*
---
name: Typography
category: body
tag: latest
---

```jade
body
	p
		| aaa
```

*/
body
	p
		font-size 100%
		color #000
		font-family -apple-system, BlinkMacSystemFont, 'メイリオ', Arial, sans-serif
