doctype
html(lang='ja-JP')
	head
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='UTF-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
		title
			| oreore-web-starter-kit
		script(src="bundle.js")
		link(href='style.css', rel='stylesheet')
	body
		p= site.domain
		p= meta.description
		ul
			- loop.forEach(function(list){
					li
						span
							= list.name
						br
						span
							= list.filename
			- });
		p
			textarea.your-text-area
		a.anchorlink2(href="#")
			| top
